@font-face
{

    /* url('font/Palatino_Linotype.eot'); */ /* IE9 */    
}

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(http://fonts.gstatic.com/s/adventpro/v3/Xfe7ShDKddJBJE_WqrWHYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: opensans;
	color: #686767;
	font-size: 14px;
	
  height:100%;
  
}
a{
font-family: opensans;
	color: #686767;
  text-decoration:none;

}
html{
 height:100%;
}

#left_bg{
 width:50%;
 float:left;
 border:red 0px solid;
 margin-left:-497px;
 background: url("../img/left_bg.png") repeat-x;
 position:absolute;
 height:100%;
 z-index:-11;
}

#right_bg{
background: url("../img/right_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
border: 0 solid red;
float: right;
height: 1000px;
margin-right: 597px;
position: absolute;
right: -50%;
top: 0;
width: 50%;
z-index: -12;
}
#wraper{
 
 clear:both;
 min-height:100%;
 z-index:20;
 overflow:hidden;
 width:100%;
 position:absolute;
}

#mainbg{
 
 width:100%;
 
 position:absolute;
 z-index:-12;
 top:0;
 overflow:hidden;
}

#content{
 background: url("../img/bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
 min-height: 1000px;
 width: 994px;
 margin:auto;
 z-index:20;
 
 
}

#head{
 width:100%;
 height:100px;
 border:black 0px solid;
}

#top_logo{

 position:absolute;
 margin: 30px 0px 0px 120px;
 
}

#subtitle{
 display:block;
 position:absolute;
 margin-top:-11px;
 letter-spacing:4px;
}

.diam{
 color:red;
 padding:0px 5px 0px 5px;
 margin-top:-5px;
 display:inline-block;
}

.diam img{
 padding-bottom:1px;
 margin-top:-5px;
 display:inline-block;
}

#menu{
 
display: block;
float: right;
font-size: 14px;
margin-top: 60px;
position: relative;
right: 0;

}

#lng{

 position:absolute;
 margin-top:85px;
 
}

#l_en{
 margin-left:40px;
 position: absolute;
}

#l_fr{
 margin-left:15px;
 margin-top:25px;
 display:block;
 position: absolute;
}

#l_pl{
 
  display: block;
  float: right;
  margin-left: -10px;
  margin-top: 50px;
  position: absolute;

}

#main_content{
  height:850px;
}

#main_content_sub{
  min-height:650px;
}


#r2{
height: 288px;
margin-left: 710px;
margin-top: 180px;
position: absolute;
width: 288px;
 
}

#r3{
height: 288px;
margin-left: 564px;
margin-top: 327px;
position: absolute;
width: 288px;
 
}





.da{
color:white;
display: block;
    position: relative;
    z-index: 1000;
}
.te{
font-size:12px;
margin-top:20px;
width:80%;
margin-left:10%;
}

.te .dot3{
 margin-top:20px;
}



#main_tab_right div.tt{

 color:white;
 float:right;
 font-size:12px;
 margin:75px 50px 0 0;
 text-align:right;
}



#main_tab_left h1, #main_tab_right h1{

 font-weight:400;
 padding-bottom:7px;

}

#main_tab_left .dot3{

 
 margin:10px 0 0 120px;
 
 
}

#main_tab_left div.tt{

 color:white;
 float:left;
 font-size:12px;
 margin:75px 0 0 50px;
 text-align:left;
 width:280px;
 
}



#footer{

 width:100%;
 color:#375d81;
 font-size:12px;
 line-height:30px;
}

#footer hr{

 border:0px;
 background:#d80202;
 height:7px;
 
}

#sub_c{

 margin-top:160px;
 margin-left:100px;

}

#sub_top_bg{
 
 width:892px;
 height:54px;
 background:url('../img/sub_top_bg.png') no-repeat;
 

}
#sub_top_bg h1{

 margin-left:290px;
 margin-top:5px;
 display:inline-block;
 color:#d80202;
 font-weight:200;
 font-size:30px;
}

#sub_content{
 
 width:991px;
 background-color: rgba(255, 255, 255, 0.97);
 min-height:620px;
 margin-left:-100px;
 padding-top:40px;
}

#sub_text{
 width:542px;
 float:right;
 color:#00184b;
 padding-right:58px;
}
#sub_img{
 float:left;
}

#cover_img{
 width:100px;
 background:white;
 height:530px;
 position:absolute;
 opacity:0.7;

}


.more{ 
 float:right;
 font-size:12px;
 color:#D80202;
}

.data2{
 opacity:0.5;
 font-size:10px;
 margin-top:-7px;
 display:block;

}

.news{
 margin-top:10px;
}



#r1{

margin-left: 459px;
margin-top: 221px;
overflow:hidden;
position:absolute;
transform:rotate(45deg);
-webkit-transform: rotate(45deg);
width:203px;
height:203px;   

} 

#r1 div{

}


#r1 img{
width:290px;
height:290px;
margin-left: -43px;
margin-top: -45px;
transform:rotate(-45deg);
-webkit-transform: rotate(-45deg);
}


#rr2{  
  width:203px;
  height:203px;   
  overflow:hidden;
  position:absolute;
  transform:rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 754px;
  margin-top: 220px; 
}

#rr2 div{

}


#rr2 img{
width:290px;
height:290px;
margin-left: -43px;
margin-top: -45px;
transform:rotate(-45deg);
-webkit-transform: rotate(-45deg);
}


#r3{
height: 203px;
margin-left: 607px;
margin-top: 368px;
position:absolute;
transform:rotate(45deg);
-webkit-transform: rotate(45deg);
overflow:hidden;
width: 203px;
 
}

#r3 div{

}


#r3 img{
width:290px;
height:290px;
margin-left: -43px;
margin-top: -45px;
transform:rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

#r4{
height: 203px;
margin-left: 312px;
margin-top: 368px;
position:absolute;
transform:rotate(45deg);
-webkit-transform: rotate(45deg);
overflow:hidden;
width: 203px;
 
}

#r4 img{
width:290px;
height:290px;
margin-left: -43px;
margin-top: -45px;
transform:rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

#r5{
height: 203px;
margin-left: 460px;
margin-top: 516px;
position:absolute;
transform:rotate(45deg);
-webkit-transform: rotate(45deg);
overflow:hidden;
width: 203px;
 
}

#r5 img{
width:290px;
height:290px;
margin-left: -43px;
margin-top: -45px;
transform:rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

#trapezoid { 
   border-bottom: 300px solid #475D7C;
   border-left: 0 solid transparent;
   border-right: 300px solid transparent;
   height: 0;
   margin-top: 445px;
   position: absolute;
   width: 235px;
   z-index: 100;
   color:white;
}


#main_tab_left{
 border-bottom: 300px solid #475D7C;
   border-left: 0 solid transparent;
   border-right: 300px solid transparent;
   height: 0;
   margin-top: 445px;
   position: absolute;
   width: 235px;
   z-index: 100;
  
}

#main_tab_left_backup{
 width:536px;
 height:308px;
 background:url("../img/main_tab_left.png") no-repeat;
 z-index:0;
 position:absolute;
 margin:441px 0 0 5px;
}


#main_tab_right{
 width:373px;
 height:245px;
 background:#475D7C;
 z-index:-10;
 position:absolute;
 margin:587px 0 0 621px;
}


#r4 .tripple{
border-bottom: 122px solid #475D7C;
    border-left: 122px solid transparent;
    border-right: 122px solid transparent;
    margin-left: 22px;
    margin-top: -91px;
    width: 0;
    position:absolute;
}

#r5 .tripple{
border-bottom: 122px solid #475D7C;
    border-left: 122px solid transparent;
    border-right: 122px solid transparent;
    margin-left: 22px;
    margin-top: -91px;
    width: 0;
    position:absolute;
}

.tripple_1_top_small{
border-right: 40px solid transparent;
    border-top: 40px solid white;
    height: 0;
    margin-left: 0;
    margin-top: 445px;
    position: absolute;
    width: 0;
    z-index: 10000;
}

.tripple_1_small{
 border-bottom: 100px solid white;
    border-right: 100px solid transparent;
    height: 0;
    margin-left: 0;
    margin-top: 645px;
    position: absolute;
    width: 0;
    z-index: 10000;
}


.tripple_2_small{
 border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    height: 0;
    margin-left: 954px;
    margin-top: 792px;
    position: absolute;
    width: 0;
    z-index: 10000;
}