<div id="%ELEMENTNAME%" class="%CLASSNAME%" style="width:%WIDTH%;" CONNECT="%ELEMENTNAME%_content" ONACTIVE="%IMGON%" ONUNACTIVE="%IMGOFF%"><a href="javascript:collapseGroup('%ELEMENTNAME%');"><img src="%STARTIMAGE%" align="absmiddle" id="%ELEMENTNAME%_cimg" border=0> %TITLE%</a></div>
<div id="%ELEMENTNAME%_content" class="%CLASSNAME%_content" style="width:%WIDTH%; display:%GROUPON%;">
%CONTENT%
</div>
