<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-2">
  <title></title>
	<script type="text/javascript" src="js/js.js"></script>
	<script type="text/javascript" src="js/jmain_funct.js"></script>
	<script type="text/javascript" src="js/advajax.js"></script>
	<script type="text/javascript" src="js/ss.js"></script>
 	<script type="text/javascript" src="js/jdb_relwin.js"></script>
	<script type="text/javascript" src="js/md5.js"></script>
	<LINK REL="stylesheet" HREF="css/easytable.css" TYPE="text/css">
	<style>
	* {font-size:10px; font-family:verdana;}
	a {text-decoration:none; }
	a.topmenu {color:white; text-decoration:none;}
	a.topmenu:hover {background-color:#808080; color:white;}
	</style>
  </head>
  <body leftmargin=0 rightmargin=0 topmargin=0 bottommargin=0 marginwidth=0 marginheight=0 %ADDBODY%>

<center>
<div style="font-size:15px; font-weight:bold; font-family:trebuchet ms, arial; font-style:italic;">%SITE_TITLE%</div>

%CONTENT%
</center>

  </body>
</html>
