<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>..::JDB_cms::.. %SITETITLE%</title>
	<script type="text/javascript" src="js/js.js"></script>
	<script type="text/javascript" src="js/jmain_funct.js"></script>
	<script type="text/javascript" src="js/advajax.js"></script>
	<script type="text/javascript" src="js/ss.js"></script>
	<script type="text/javascript" src="js/multiexe.js"></script>
	
	
	
	<LINK REL="stylesheet" HREF="css/easytable.css" TYPE="text/css">
	<LINK REL="stylesheet" HREF="css/main.css" TYPE="text/css">
	<LINK REL="stylesheet" HREF="css/news.css" TYPE="text/css">
  <script type="text/javascript" src="ajax_admin_operation.js"></script>
	<script type="text/javascript" src="./winjs/javascripts/prototype.js"> </script> 
	<script type="text/javascript" src="./winjs/javascripts/effects.js"> </script>
	<script type="text/javascript" src="./winjs/javascripts/window.js"> </script>
	<link href="./winjs/themes/theme1.css" rel="stylesheet" type="text/css" >	 </link>
	<link href="./winjs/themes/default.css" rel="stylesheet" type="text/css" >	 </link>
  </head>
  <body %ADDBODY%>
  
<center>
<div id="header">
  <table width=100%><tr>
  <td align=left>
  <img id="wAdmLogo" src="gfx/logo.jpg" border="0" style="cursor:pointer;" onclick="winjs_pure_url('INFO JDB_cms',240,190,0,0,'info.html');"/>
  </td>
  <td align=right>
  <img src="gfx/net-line.jpg" style='margin-top:20px;margin-right:10px;'/>
	</td>
	</tr></table>
  <div id="mainmenu">
		%MENU%
	</div>
</div>
<div id="contentsite">
<table width=100% cellspacing=0 cellpadding=0>
<tr>
%%BEGIN LEFTBLOCK IF (LEFT)%%
	<td width=100 valign=top>
	<div id="left">
	%LEFT%
	</div>
	</td>
%%END LEFTBLOCK%%
<td valign=top>
	<div id="content">
	%CONTENT%
	</div>
</tr>
</table>
</div>
<div id="footer">&copy; 2006 jdb_cms </div>
<div id="ajaxwaitmodule" style="position:absolute; right:1px; top:1px; float:none; padding:5px; border:1px solid black; background-color:rgb(220,220,220); color:red; font-weight:bold; display:none; z-index:2000; width:100px; height:50px; text-align:center;"><img src="gfx/indicator.gif"><br>Czekaj</div>

  </body>
</html>
