{if $msg}
<div style='margin:10px 0px 0px 10px;'>
{$msg}
</div>
{/if} 

<table cellspacing='0' cellpadding='0'>
<tr>
<td style='padding:5px 10px 5px 10px;'>
<span style='font-size:13px;font-weight:normal;'>Wybierz wiadomość:</span><br/> 
<form method='post' name='newsletter_form'>
{$newsletter}
</form>
</td>
<td style='padding:5px 10px 5px 10px;'>

<table cellspacing='0' cellpadding='0'>
<tr>
<td>
<span style='font-size:13px;font-weight:normal;'>Wyślij do:</span><br/> 
<form method='post' name='recipients_form'>
{$recipients}
</form>
</td>
<td>
<form method='post'>
<input type='hidden' name='op' value='send' />
<span style='font-size:13px;font-weight:normal;'>&nbsp;</span><br/> 
<input type='submit' value='Wyślij >' style='width:80px;margin-left:15px;' />
</form>
</td>
</tr>
</table>

</td>
</tr>
</table>

<div style='margin:10px;font-size:13px;'>{$title}</div>
<div style='margin:10px;'>{$description}</div>
  