<table cellspacing='0' cellpadding='0' style='margin-left:5px;border:1px solid #EFEFEF;'>
<tr>

<td style='padding:5px 10px 5px 10px;'>

<form method='post' name='search_sid'>
<span style='font-size:13px;font-weight:normal;'>Rodzaj zamówienia:</span><br/>  
{$order_sid}
</form>

</td>
<td style='padding:5px 10px 5px 10px;'>

<form method='post' name='search_acc'>
<span style='font-size:13px;font-weight:normal;'>Zrealizowane:</span><br/> 
{$accomplished}
</form>

</td>

<td style='padding:5px 10px 5px 10px;'>

<form method='post' name='search_order'>
<span style='font-size:13px;font-weight:normal;'>Kolejność:</span><br/> 
{$order_desc}
</form>

</td>
<td style='padding:5px;'>

<form method='post' name='search_user'>
<span style='font-size:13px;font-weight:normal;'>Użytkownik:</span><br/>
<table cellspacing='0' cellpadding='0'>
<tr>
  <td>{$username}</td>
  <td><input type='submit' value='Szukaj >' style='width:80px;margin-left:10px;font-weight:normal;' /></td>
</tr>
</table>
</form>

</td>

</tr>
</table>

{if $search_username}
<div style='margin:10px 0px 10px 10px;font-size:13px;'>
Zamówienia użytkownika '{$search_username}' <a href='?op=user_reset' style='margin-left:10px;'>[ wszyscy ]</a>
</div>
{/if}

{if $search_msg}
<div style='margin:10px 0px 10px 10px;'>
{$search_msg}
</div>
{/if}   
  