<table cellspacing='0' cellpadding='0'>
<tr>
  <td style='padding:5px;font-size:13px;'>Producent</td>
  <td style='padding:5px;font-size:13px;'>{$producent}</td>
</tr>
<tr>
  <td style='padding:5px;font-size:13px;'>Narzędzie</td>
  <td style='padding:5px;font-size:13px;font-weight:bold;'>{$narzedzie}</td>
</tr>
</table>