<div style='font-size:13px;font-weight:bold;margin:5px;'>
{$title}
</div>  
{if $content}
  {foreach from=$content item=v key=k}
  <a href="/{$v.url}">{$v.foto}</a>
  {/foreach}
{else}
<div style='font-size:13px;margin:5px;'>- brak zdjeć -</div>  
{/if}