<table cellspacing="0" cellpadding="0">
<tr>
<td style="padding:10px;vertical-align:top;">
{if $vendors_mv}
  {foreach from=$vendors_mv item=v key=k}
    <table cellspacing='0' cellpadding='0'>
    <tr>
      <td style='font-size:13px;padding:0px 10px 0px 0px;'>
        <form method="post" name="vendor_remove_form{$v.id}">        
        <input type="hidden" name="id_remove" value="{$v.id}" />
        <a href="javascript:void(0);" onclick="javascript:document.vendor_remove_form{$v.id}.submit()" title="Usuń sprzedawcę">[ x ]</a>
        </form>
      </td>
      <td style='padding:2px 0px 2px 0px;'>{$v.logo}</td>
      <td style='font-size:13px;padding:2px 5px 2px 5px;'>{$v.title}</td>
    </tr>
    </table>
  {/foreach}
{else}
  - brak sprzedawców -
{/if}
</td>
<td style="padding:10px;vertical-align:top;">
{if $vendors}
  <form method="post" name="vendor_form">
  <div style="font-size:13px;">Wybierz sprzedawcę:</div>
  {$vendors} <input type="submit" value="Dodaj >" style="width:80px;" />
  </form>
{/if}
</td>
</tr>
</table>