{if $msg}{$msg}{/if}
<form method="post" name="password_form">
<input type="hidden" name="op_2" value="pwd_change" />
<table style='margin:10px 10px 10px 5px;'>
<tr>
<td style='background-color:#EFEFEF;padding:5px 5px 0px 5px;'>
<div style='margin:0px 0px 5px 5px;font-size:13px;'>Zmiana hasła użytkownika {$username}</div>
<table cellspacing='0' cellpadding='0' style='margin:0px 0px 5px 0px;'>
<td style='padding:5px;font-size:13px;'>Podaj hasło:</td><td style='padding:5px;'>{$password_1}</td>
</tr>
<tr>
<td style='padding:5px;font-size:13px;'>Powtórz hasło:</td><td style='padding:5px;'>{$password_2}</td>
</tr>
<tr>
<td colspan='2' style='padding:5px;text-align:right;'>{$submit}</td>
</tr>
</table>
</td>
<td style='vertical-align:top;'><a href='{$url}' style='margin-left:15px;'>[ Zamknij ]</a></td>
</tr>
</table>
</form>