<table cellspacing='0' cellpadding='0' style='margin-left:5px;border:1px solid #EFEFEF;'><tr>
<td style='padding:5px 10px 5px 10px;'>

<form method='post' name='order_form'>
<input type='hidden' name='op' value='user_order' />
<span style='font-size:13px;font-weight:normal;'>Sortuj według:</span><br/> 
{$user_order}
</form>

</td>
<td style='padding:5px 10px 5px 10px;'>

<form method='post' name='status_form'>
<input type='hidden' name='op' value='user_status' />
<span style='font-size:13px;font-weight:normal;'>Pokazuj:</span><br/> 
{$user_status}
</form>

</td>
<td style='padding:5px 10px 5px 10px;'>

<form method='post' name='search_form'>
<input type='hidden' name='op' value='user_search' />
<span style='font-size:13px;font-weight:normal;'>Szukaj użytkowników:</span><br/>
<table cellspacing='0' cellpadding='0'>
<tr>
  <td>{$username}</td>
  <td><input type='submit' value='Szukaj >' style='width:80px;margin-left:10px;font-weight:normal;' /></td>
</tr>
</table>
</form>

</td>

</tr>
</table>

{if $user_search_phrase}
<div style='margin:10px 0px 0px 10px;font-size:13px;'>
Wyniki wyszukiwania użytkowników dla frazy '{$user_search_phrase}' <a href='?op=user_reset' style='margin-left:10px;'>[ wszyscy ]</a>
</div>
{/if}

{if $search_msg}
<div style='margin:10px 0px 0px 10px;'>
{$search_msg}
</div>
{/if}  
  