
Witamy. <br>
Poniżej dane zarezerwowanego przez Ciebie rejsu:<br>

<label>Data rezerwacji: </label> {$rez.termin}<br>
<label>Typ jachtu: </label> {$rez.yacht.nazwa}<br>          
<label>Imię: </label> {$post.imie}<br>
<label>Nazwisko: </label> {$post.nazwisko}<br>
<label>Ulica, nr mieszkania/domu: </label> {$post.ulica}<br>
<label>kod pocztowy: </label> {$post.kod}<br>
<label>Miejscowość: </label> {$miejscowosc}<br>
<label>Adres e-mail: </label> {$post.email}<br>
<label>Telefon: </label> {$post.telefon}<br>
<label>Numer dowodu osobistego: </label>{$post.dow_osob}<br>
<label>Numer patentu (opcjonlanie): </label>{$post.patent}
    


 