@font-face {
	font-family: 'stryde';
	src: url('font/stryde.eot');
	src: url('font/stryde.eot?#iefix') format('embedded-opentype'), url('font/stryde.woff2') format('woff2'), url('font/stryde.woff') format('woff'), url('font/stryde.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	font-size:1vw;
}
body {
	margin: 0px;
	background: rgb(237,230,230);
}
tr, div, a {
	font-family: "stryde", Arial, Sans-serif;
	color:#000000;
}
a:hover {
}
/* radius 10, font size 14, box color 147 118 118 0.2, top menu 128 101 93 */

.logo_back {
	position: fixed;
	z-index: -1;
	background-image: url("images/logo_back.png");
	background-size: auto 100%;
	top: 10%;
	height: 90%;
	width: 100%;
	background-position: 103% 100%;
	background-repeat: no-repeat;
}
.content {
	margin:0 12.5rem;
}
.logo {
	margin-top:2.5rem;
	height:6.6rem;
	width: 18.2rem;
	background:url(images/logo.png) no-repeat;
	background:url(images/logo.svg) no-repeat, none;
	background-size:100%;
	display:block;
	float:left;
}
.menu {
	float:right;
	margin-top:2rem;
	position:relative;
}
.menu ul {
	list-style:none;
	margin:0px;
	padding:0px;
	border-bottom:solid 1px rgb(128,101,93);
}
.menu .round {
	transition:all ease-in 0.5s;
	display:block;
	content:" ";
	position:absolute;
	border-radius:1rem;
	width:0.5rem;
	height:0.5rem;
	bottom:-0.25rem;
	background: rgb(128,101,93);
}
.menu ul:after {
	display:block;
	content:" ";
	clear:both;
}
.menu li {
	float:left;
	display:inline-block;
}
.menu li a {
	text-decoration:none;
	padding: 1rem 0.7rem 0.7rem;
	color:rgb(128,101,93);
	text-transform:uppercase;
	font-size:1.3rem;
	letter-spacing:0.1rem;
	display:block;
}
.relative_menu .round {
	display:none;
}
.relative_menu li {
	float:none;
	text-align:center;
	display:block;
}
.clear {
	clear:both;
}
.spad {
	padding: 1rem;
	line-height:1.6rem;
	font-size:1.2rem;
}
.spad h1 {
	font-size:1.2rem;
	text-shadow: 
 -0.06rem 0rem 0 rgb(79,59,52);
}
strong, b {
	text-shadow: 
 -0.06rem 0rem 0 rgb(79,59,52);
}
.boxy {
	margin: 3rem -1.5rem 0 -1.5rem;
}
.grid {
	width:25%;
	float:left;
}
.group {
	width:25%;
	float:left;
}
.group .grid {
	width:100%;
}
.grid_big {
	width:50%;
	float:left;
}
.grid_vbig {
	width:75%;
	float:left;
}
.box {
	border-radius:1rem;
	font-size:1.4rem;
	background:rgba(147,118,118,0.2);
	overflow:hidden;
	margin:0 1.5rem 2.3rem 1.5rem;
	display:block;
	text-decoration:none;
}
.box .foto {
	border-radius:1rem;
	overflow:hidden;
	width:100%;
	height:8.8rem;
	background-size: cover;
	overflow:hidden;
}
.box .label {
	text-align:center;
	display:block;
	font-size: 1.4rem;
	padding: 1.2rem 0 1rem;
	letter-spacing:0.2rem;
}
.box .bezfoto {
	text-align:center;
	display:block;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 4.3rem 0;
}

.grid_big .box_black {
	background:#000;
	position:relative;
}
.grid_big video {
	height:27.6rem;
	overflow:hidden;
}
.newline {
	clear:both;
}
.movie {
	width:100%;
	height:100%;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	border-radius: 1rem 1rem 1rem 1rem;
}
.flags {
	float:right;
	margin-top:0.5rem;
	width:30%;
	text-align:right;
}
.flags a {
	display:inline-block;
	width:2rem;
	height:2rem;
	margin:0 2rem 0 0;
	background-repeat:no-repeat;
	background-size: auto 2.3rem;
	border-radius: 2rem;
	background-position: 50% 50%;
}
.flags a.pl {
	background-image:url(images/pl.png);
}
.flags a.en {
	background-image:url(images/en.png);
}
@media screen and (min-width: 900px) {
.boxy.main .box .bezfoto {
	display: table-cell;
	height: 12.8rem;
	padding: 0;
	vertical-align: middle;
}
}
 @media screen and (max-width: 900px) {
.grid_big video {
	height:auto
}
html {
	font-size:9px !important;
}
.menu li a {
	padding:10px 10px;
}
/* zawartość pliku normal.css */
  	.box .foto {
	height:16rem
}
.main .box .bezfoto {
	padding: 7.7rem 0;
}
.group {
	width:100%;
}
.grid {
	width:50% !important;
	float:left;
}
.grid_big {
	width:100% !important;
	float:left;
}
.grid_big .foto {
	height:auto;
}
.grid_vbig {
	width:100% !important;
	float: left;
}
}
@media screen and (max-width: 800px) {
.content {
	margin:0 auto;
	/*width:560px;*/
	overflow:hidden;
}
}
@media screen and (max-width: 560px) {
.content {
	width:100%;
	margin:0;
	min-width:300px;
}
.grid {
	width:100% !important;
}
}
/*kungfumenu*/
#mobile_menu:before{
	position:absolute;
	width: 1em;
	height: 1em;
	background:rgb(79,59,52);
	 content:" ";
	 z-index:-1;
	 margin-top: -1em;
margin-left: -0.5em;
padding: 0.5em;
border-radius: 0.5em;
}
#mobile_menu {
	font-size: 20px;
	margin:2rem auto;
	width: 1em;
	height: 0.15em;
	border-top-width: 0.45em;
	border-top-style: double;
	border-top-color:rgb(237,230,230);
	border-bottom-width: 0.15em;
	border-bottom-style: solid;
	border-bottom-color: rgb(237,230,230) ;
	cursor:pointer;
	z-index:999;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
#playvid, #pausevid {
	position:absolute;
	left:50%;
	top:50%;
	background-size:auto 100%;
	background-repeat:no-repeat;
	border:solid 0px;
	width:4rem;
	height:4rem;
	transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	z-index:99999;
	background-color: transparent;
	background-image:url(images/play_pause.png);
	background-image:url(images/play_pause.svg);
	opacity:0
}
#playvid {
	opacity:.5;
}
#pausevid {
	background-position: 100% 100%;
}

.box_black:hover #playvid, .box_black:hover #pausevid {
	opacity:.5;
}



#gallery{
	list-style:none;
	margin:0px;
	padding:0px;
}

#gallery li{
	float:left;
	width:24%;
	margin-right:1%;
}
#gallery li img{
 	width:100%;
	border-radius:1rem;
	overflow:hidden;
}
#gallery li:nth-child(4n+1){
	clear:both;
}
.news a.more{text-decoration:none; }