<div class="box" style="float:left; width:650px">
<h2>{$onenews.nazwa}</h2>
     
          <div class="tresc">

            <div class="news">              
              {$onenews.tresc}
              
              {if $onenews.more}
                <br><a href="?more">Czytaj więcej</a>
              {/if}
            </div>


          </div>
         
          </div>
          <div class="right-col">
      <div class="box2 aktualnosci">
        
        <h2>{$st.naglowek}</h2>
        <div class="tresc"> 
          {foreach from=$news item=v key=k}
          <a href="{$_DOMAIN}{$smarty.get.site}/n{$v.id}/{$v.slug}.html" class="news"> <span class="data">{$v.data}</span><br />
           {$v.skrot}
          </a> 
          {/foreach}
         </div>
      </div>
    </div>
    <br style="clear:both"> 
          