<h2>{$st.naglowek}</h2>
{section name=ne loop=$news}
{assign var=n value=$news[ne]}
<div class="news">
              <h3>{$n.nazwa}</h3>
              {$n.tresc}
            </div>
{/section}
          </div>