<div class="menu">
        <div class="start"><a href="javascript:void(0)"></a></div>
        <div class="oferta"><a href="javascript:void(0)"></a></div>
        <div class="portfolio"><a href="javascript:void(0)"></a></div>
        <div class="kontakt"><a href="javascript:void(0)"></a></div>
    </div>