<div class="grid  newline">
      <div class="box">
        
        <span class="label bezfoto">{$st.title}</span> </div>
  	</div>
    
   
    <div class="grid_vbig">
      <div class="box">
      <div class="spad">
      
       {if isset($smarty.get.nid)}
          <h2>{$onenews.nazwa}</h2>
          {if $onenews.show_date == 'y'}<span class="data data2">{$onenews.data}</span>{/if}
     
          <div class="tresc">

            <div class="news">              
              {$onenews.tresc}
              
              
                <br><a href="#" onClick="history.back(); return false" class="more">&lsaquo; wstecz</a>
              
            </div>


          </div>
          {else}
          
            {foreach from=$news item=v key=k}
              <h2>{$v.nazwa}</h2>
              {if $v.show_date == 'y'}<span class="data data2">{$v.data}</span>{/if}
     
     
              <div class="tresc">
    
                <div class="news">              
                  {if $v.file != ''}<img src="{$_DOMAIN}{$v.file}" style="float:left; width:200px; padding:10px 10px 10px 0px;">{/if}
                  {$v.skrot}
                  
                  {if $v.tresc != '' && $v.tresc != '<br />'}
                    <br><a href="{$_DOMAIN}{$smarty.get.site}/n{$v.id}/{$v.slug}.html" class="more">czytaj więcej	&rsaquo;</a>
                    <br>
                  {/if}
                </div>
    
    
              </div>
            
            {/foreach}
          
          {/if}
        </div>
        </div>
    </div>

