
    
    <div class="grid  newline">
      <div class="box">
        
        <span class="label bezfoto">{$st.title}</span> </div>
  	</div>
    
   
    <div class="grid_vbig">
      <div class="box">
      <div class="spad">
      
       {$st.content}
        </div>
        </div>
    </div>
    
