body{background:url('img/topbg.png') #F9F9F9 repeat-x; font-family:tahoma, verdana, helvetica ce, arial, helvetica; font-size:10px; padding:0px; margin:0px;}
#wrapper {width:992px; padding:0px; margin:0px auto;}

table{font-size:11px;}

input.text, textarea.text {width:250px;}
input.text, textarea.text {background:#ffffff; color:#7c7c7c; border-top:1px solid #d1d1d1; border-right:1px solid #f7f7f7; border-bottom:1px solid #ffffff; border-left:1px solid #d1d1d1;}
input.text2 {background:#ffffff; color:#7c7c7c; border-top:1px solid #d1d1d1; border-right:1px solid #f7f7f7; border-bottom:1px solid #ffffff; border-left:1px solid #d1d1d1;}


input.text3, textarea.text3 {background:#ffffff; color:#000000; border:1px solid #d1d1d1; font-size:10px;}

select {background:#ffffff; border:1px solid #e2e2e2; font-size:10px; color:#7c7c7c; overflow:hidden; text-decoration:none;}

a.menu_i_b12		{color:#DFDFDD; font-size:11px; padding:14px 10px 0px 9px; cursor:pointer; display:block; float:left; width:auto; height:26px; text-decoration:none;}
a:hover.menu_i_b12	{color:white; background:url('img/menubg2.png') repeat-x; font-weight:normal; font-size:11px; padding:14px 10px 0px 9px; cursor:pointer; display:block; float:left; width:auto; height:26px; text-decoration:none;}

a.menu_i		{color:black; font-size:11px; padding:14px 10px 0px 9px; cursor:pointer; display:block; float:left; width:auto; height:26px; text-decoration:none;}
a:hover.menu_i	{color:white; background:url('img/menubg2.png') repeat-x; font-weight:normal; font-size:11px; padding:14px 10px 0px 9px; cursor:pointer; display:block; float:left; width:auto; height:26px; text-decoration:none;}

.menusub_i		{font-weight:normal; font-size:13px; color:white; padding-left:9px; padding-right:10px; cursor:pointer;}
.tabmenu		{height:40px; width:100%; background-image:url('img/menubg.png'); background-repeat:repeat-x repeat-y; white-space:nowrap;}
.tabmenu2		{height:40px; width:100%; background-image:url('img/menubg2.png'); background-repeat:repeat-x; white-space:nowrap;}
/*a:active, a:visited, a:hover{text-decoration:none;} */

/* lewe menu */
/* kategoria matka */
.menu			{width:auto; height:40px; margin:0px; background:transparent; color:#237aca; text-decoration:none; font-weight:normal; cursor:pointer; display:block; float:left; white-space:nowrap}
div:hover.menu {width:auto; height:40px; margin:0px; text-decoration:none; font-weight:normal; cursor:pointer; display:block; float:left; white-space:nowrap}
/* kategoria dziecko */
a.menu_sub {height:26px; width:auto;  font-weight:normal; font-size:11px; color:white; padding:10px 10px 0px 9px; cursor:pointer; display:block; float:left; text-decoration:none;}
/* kategoria dziecko */
a:hover.menu_sub {height:26px; width:auto; font-weight:normal; font-size:11px; color:white; padding-left:9px; padding-right:10px; cursor:pointer; display:block; float:left; text-decoration:underline;}
/* dla js krory wczytuje ten styl po rozwinieciu kategorii dziecko */
.menu_bl2 {width:auto; height:40px; margin:0px; background:url('img/menubg2.png') repeat-x; color:#ffffff; text-decoration:none; font-weight:normal; cursor:pointer; display:block; float:left; white-space:nowrap}
/* lewe menu */

img { border:0px;}

.dot {height:1px; background: url('img/dotantena.png') repeat-x;}
.dot1 {width:1px; background-image:url('img/dot1.png'); background-repeat:repeat-x; padding-bottom:5px;}
.dot2 {width:9px; background-image:url('img/dot2.png'); background-repeat:repeat-y; padding-bottom:15px; background-position:center;}
.naAntBack1 {background-color:#f7f7f7; padding:11px 11px 0px 11px; width:158px; text-align:left;}
.naAntBack2 {background-color:#e4e4e4; padding:11px 11px 0px 11px; width:158px; text-align:justify;}
.imgT1 {background-image:url('img/t1.png'); background-repeat:no-repeat; background-position:center; width:114px; height:35px; cursor:pointer;}
.imgT2 {background-image:url('img/t2.png'); background-repeat:no-repeat; background-position:center; width:114px; height:35px; cursor:pointer;}
.imgT3 {background-image:url('img/t3.png'); background-repeat:no-repeat; background-position:center; width:114px; height:35px; cursor:pointer;}
.imgT4 {background-image:url('img/t4.png'); background-repeat:no-repeat; background-position:center; width:114px; height:35px; cursor:pointer;}
.imgT5 {background-image:url('img/t5.png'); background-repeat:no-repeat; background-position:center; width:114px; height:35px; cursor:pointer;}
.imgT6 {background-image:url('img/t6.png'); background-repeat:no-repeat; background-position:center; width:114px; height:35px; cursor:pointer;}
.prawaOds {margin-left:35px; font-weight:bold; width:70px;}
.obrazek {width:100px; height:100px; vertical-align:top;}
img.obrazek {border:#e2e2e2 1px solid; padding:5px; margin:5px;}
img.obrazekFloat {border:#e2e2e2 1px solid; padding:5px 5px 5px 5px; margin:5px 10px 5px 0px; float:left; vertical-align:top;}
.trescOdsep {padding:5px; text-align:left; height:auto;}
.trescOdsep2 {padding:5px; text-align:left; height:92px;}


.nagl {height:28px; width:614px; padding:12px 0px 0px 15px; margin:0px 0px 5px 0px; background:url('img/pasek.png'); font-size:14px; font-weight:bold; color:#141414;}

.wiecej {height:13px; width:auto; padding:0px 0px 5px 0px; margin:0px; text-align:right;}

.odstZRamowke {text-align:right; padding:20px 10px 10px 10px;}
.odstZRamowkeG {text-align:right; padding:0px 30px 0px 10px;}

.nagGal {height:49px; width:619px; background:url('img/galeria.png') no-repeat; text-align:right; vertical-align:middle; font-size:11px; font-weight:bold; padding:0px 11px 0px 0px;}



/* ************************************* video ************************************************* */
td.td	{width:615px !important; padding:0px 0px 0px 5px;}
td.td1	{width:304px !important; padding:10px 0px 0px 0px;}
td.td2	{width:305px !important; padding:10px 0px 0px 0px;}
td.td3	{width:615px !important; padding:10px 0px 0px 0px;}

div.galeriaGv		{cursor:pointer; display:block; float:left; width:106px; height:106px; overflow:hidden; padding:2px; margin:0px; border:1px solid #C7C7C7; background:#D9D9D9;}
div:hover.galeriaGv	{cursor:pointer; display:block; float:left; width:106px; height:106px; overflow:hidden; padding:2px; margin:0px; border:1px solid #9C9C9C; background:#ffffff;}
.galeriaIv			{width:106px; height:106px; display:block; overflow:hidden;}

.videoNag	{font-weight:bold; background:#f3f3f3; height:20px; padding:5px 0px 0px 10px;}
.videoBlock	{width:126px; height:180px; background:#c91602; margin:0px; padding:10px 0px 10px 12px;}
.videoOdstep{width:10px; height:180px;}
/* ********************************** end video ************************************************ */






.redBg {width:244px; color:white; font-size:14px; font-weight:bold; background-image:url('img/redbg.png'); background-repeat:no-repeat; text-align:center; color:#ffffff;}
.marrBg {width:617px; background-image:url('img/marrbg.png'); background-repeat:repeat-x; margin:0px; padding:0px;}
.menusubbg {width:100%; background-image:url('img/menusubbg.png'); background-repeat:repeat-x repeat-y;}

.reklamaFla {width:100%; background:#ffffff; text-align:center; padding:40px 0px 10px 0px;}

.floatLeft	{float:left; display:block;}
.floatRight	{float:right; display:block;}
.clearBoth	{clear:both;}
.left		{text-align:left;}
.center		{text-align:center;}
.right		{text-align:right;}
.top		{vertical-align:top}
.middle		{vertical-align:middle}
.bottom		{vertical-align:bottom}


a.aNaAntenie		{color:#ffffff; text-decoration:none;}
a:hover.aNaAntenie	{color:#000000; text-decoration:none;}

/* linki do menu */
a.linkFooter		{display:block; float:left; background:#f7f7f7; padding:6px 10px 0px 10px; margin:0px 0px 0px 0px; width:auto; height:24px; color:#000000; font-size:12px; text-decoration:none;}
a:hover.linkFooter	{display:block; float:left; background:#ffffff; padding:6px 10px 0px 10px; margin:0px 0px 0px 0px; width:auto; height:24px; color:#ff0000; font-size:12px; text-decoration:none;}

a.nawigacja			{color:#7c7c7c; text-decoration:none;}
a:hover.nawigacja	{color:#ff0000; text-decoration:none;}

a.czerwony			{color:#ff0000; text-decoration:none;}
a:hover.czerwony	{color:#7c7c7c; text-decoration:none;}

a.black				{color:#000000; text-decoration:none;}
a:hover.black		{color:#7c7c7c; text-decoration:none;}

a.gray				{color:#7c7c7c; text-decoration:none;}
a:hover.gray		{color:#000000; text-decoration:none;}

a.galeriaLink		{color:#393939; font-size:13px; font-weight:bold; text-decoration:none;}
a:hover.galeriaLink	{color:#ff0000; font-size:13px; font-weight:bold; text-decoration:none;}

a.videoLink			{color:#ffffff; font-size:12px; font-weight:bold; text-decoration:none;}
a:hover.videoLink	{color:#ff0000; font-size:12px; font-weight:bold; text-decoration:none;}

a.newsMarq			{color:#000000; font-size:12px; text-decoration:none;}
a:hover.newsMarq	{color:#ff0000; font-size:12px; text-decoration:none;}
/* end linki do menu */

.nawigacjahp {height:25px; padding:5px 0px 0px 10px;}
.szary {color:#7c7c7c; text-decoration:none;}


/* kontakt */
.kontakt1 {width:120px; height:30px; text-align:right;}
.kontakt2 {width:280px; height:30px; text-align:left;}
.kontakt3 {width:120px; height:100px; padding:4px 0px 0px 0px; text-align:right; vertical-align:top;}
.kontakt4 {width:280px; height:100px; padding:4px 0px 0px 0px; text-align:left; vertical-align:top;}
.kontakt5 {width:280px; height:100px; padding:4px 0px 0px 0px; text-align:left; vertical-align:top;}

.czysc	{background:url('img/czysc.png'); width:79px; height:23px; border:0px; cursor:pointer;}
.wyslij	{background:url('img/wyslij.png'); width:79px; height:23px; border:0px; cursor:pointer;}
.wsteczGora {height:39px; background:url('img/gradient.png') no-repeat; text-align:right; padding:0px 202px 0px 0px;}
/* end kontakt */

/* details news */
.newsTable	{margin:0px; width:630px !important;}
.tdLabel	{height:33px; margin:0px; padding:0px 0px 0px 5px; vertical-align:middle; font-weight:bold; font-size:12px;}
.newsText	{margin:5px 5px 0px 0px; text-align:justify; vertical-align:top;}
.tdText		{width:630px; margin:0px; padding:0px 0px 0px 5px; vertical-align:top; text-align:justify;}
.dateTable	{width:100%; padding:0px; height:39px; background:url('img/gradient.png') no-repeat;}
/* end details news */



/* radio_online*/
.radio_online {width:591px; height:406px; margin:0px auto; padding:0px; background:url('img/radio_online.png') no-repeat;}
/**/

/***************************************************** galeria ***************************************************************/
div.galeria			{cursor:pointer; display:block; float:left; width:92px; height:50px; overflow:hidden; padding:2px; margin:0px 5px 5px 0px; border:1px solid #C7C7C7; background:#D9D9D9;}
div.galeriaG		{cursor:pointer; display:block; float:left; width:92px; height:50px; overflow:hidden; padding:2px; margin:0px 5px 0px 0px; border:1px solid #C7C7C7; background:#D9D9D9;}
div:hover.galeria	{cursor:pointer; display:block; float:left; width:92px; height:50px; overflow:hidden; padding:2px; margin:0px 5px 5px 0px; border:1px solid #9C9C9C; background:#ffffff;}
div:hover.galeriaG	{cursor:pointer; display:block; float:left; width:92px; height:50px; overflow:hidden; padding:2px; margin:0px 5px 0px 0px; border:1px solid #9C9C9C; background:#ffffff;}

div.galeriaH		{cursor:pointer; display:block; float:left; width:92px; height:50px; overflow:hidden; padding:2px; margin:0px 5px 5px 0px; border:1px solid #9C9C9C;}

.galeriaI			{width:92px; height:50px; display:block; overflow:hidden;}

.galeriaSub	{display:block; overflow:hidden; border:1px solid #D9D9D9; width:auto;}
#galeriaSubFixed {position:absolute; top:22px; left:22%; background:#F9F9F9; border:1px solid #D9D9D9; z-index:100;}
.thumbs		{width:auto; background:#F9F9F9; margin:0px; padding:0px; border:1px solid #D9D9D9; text-align:left;}
.thumbsIco	{width:auto; margin:0px; padding:5px 0px 0px 5px; text-align:left;}
.thumbsIcoG	{width:auto; margin:0px; padding:5px 0px 5px 5px; text-align:left;}
h3 {padding:5px 0px 5px 0px; margin:0px; font-size:12px;}


.red	{color:#ff0000;}
.redb	{background:#ff0000;}
.white	{color:#ffffff;}
.bold	{font-weight:bold;}


.bt	{border-top:1px solid #e2e2e2;}
.br	{border-right:1px solid #e2e2e2;}
.bb	{border-bottom:1px solid #e2e2e2;}
.bl	{border-left:1px solid #e2e2e2;}

tr.tloTrCss			{background:#ffffff; cursor:pointer; font-weight:normal;}
tr:hover.tloTrCss	{background:#f7f7f7; cursor:pointer; font-weight:normal; color:#7c7c7c;}
tr.tloTrCssA		{background:#f7f7f7; cursor:pointer; font-weight:bold; color:#ff0000;}
tr:hover.tloTrCssA	{background:#f7f7f7; cursor:pointer; font-weight:bold; color:#000000;}

/***************************************************** end galeria ***********************************************************/
