
.c1 {
  font-family: verdana, Helvetica, sans-serif;
  font-size: 11px;
}
.c1b {
  font-family: verdana, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.c2 {
  font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.c2b {
  font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

A:link {
  color:#3333B0;
  text-decoration:underline;
}
A:visited {
  color:#3333B0; text-decoration:underline;
}
A:hover {
  color:#FF0000;
  text-decoration:underline;
}
A:active {
  color:#FF0000;
  text-decoration:underline;
}
BODY {
	background-color:#f0f0f0;
  margin: 0px 0px 0px 0px;
}
