table.et {
	background-color:black;
	color:black;
	border:1px solid black;
	border-collapse: separate;
	border-spacing: 1px;
	margin:5 5 5 5;
}


table.et td {
	padding:2 2 2 2;
	border:1px solid #c0c0c0;
}


table.et td a:hover {
	background-color:#eee;
}

table.et tr.et_header {
	background-color: #90b3cc;
	color:white;
	font-weight:bold;
	cursor:default;
	background-image: url(gfx/head_bg.gif);
}

.et_action {
	cursor:default;
}

.et_noneaction {
	cursor:default;
}

td.et {
}

.error {
	color:red;
	font-size:13px;
}


table.activetable {

	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
	empty-cells: show;
	
}

table.activetable tr {
	background-color:#f0f0f0;
}

table.activetable td{
	border:1px solid #606060;
	background-color:#f0f0f0;
}

table.activetable td #opr{
	background-color:#f0f0f0;
	padding:1px 1px 1px 1px;
}

table.activetable td:hover #opr{
	background-color:#f0f0f0;
	padding:2px 0px 0px 2px;
}

table.activetable td:hover{
	background-color:#e0e0ff;
	padding:0px 2px 2px 0px;
}


table.relwin1n {

	border:1px solid #606060;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
	empty-cells: show;
	background-color:#a0a0a0;
}

table.relwin1n tr {
	background-color:#f0f0f0;
	cursor:pointer;
}

table.relwin1n tr.relrowselect {
	background-color:rgb(102,153,153);
	cursor:pointer;
}

table.relwin1n tr:hover {
	background-color:#e0e0ff;
}

table.relwin1n tr:hover td{
	padding:0px 2px 2px 0px;
}

input[type="text"]:focus {
	background-color: #e0e0ff;
	border:2px solid #a0a0a0;
}

.activeel {
	cursor:pointer;
}

input[type="text"].noedit {
	background-color:#e0e0e0;
	cursor:default;
}

.collapsegroup {
	width:300px;
	background-color:#f0f0f0;
	border:1px solid #a0a0a0;
	padding:2px;
}

.collapsegroup a {
	font-size:11px;
	font-weight:bold;
	color:#606060;
	font-family: arial;
	text-decoration:none;
}


.collapsegroup_content {
	width:300px;
	border:1px solid #a0a0a0;
	padding:2px;
	overflow: auto;
}
