* {
	font-family:arial;
	font-size:11px;
	color:black;
}

body {
	margin:0 0 0 0;
	background: #eee;
}

#header {
	background-color:#fff;
	text-align:left;
	width:100%;
	vertical-align:middle;
	padding: 10px 0 0 0;
}

img#wAdmLogo{
	margin: 5px 0 0 10px;
}

#mainmenu {
	background-color: #cae8ff;
	text-align:left;
	margin:0 0 0 0;
	padding:10px 15px 10px 15px;
}

#siteinfo {
	margin: 0 10px 0 0;
	float: right;
	font-size:14px;
	font-weight:bold;
}

#mainmenu a,span {
	font-weight:bold;
	text-decoration:none;
	color:black;
}

#contentsite {
	width:100%;
	text-align:center;
	overflow:auto;
}

#left {
	float:left;
	text-align:left;
	padding:10 10 10 10;
	min-width:150px;
}

#content {
	
	text-align:left;
	padding:10px;
}


a, .link {
	color:#606090;
	text-decoration:none;
	cursor:pointer;
	padding:1px;
}

a:hover, span:hover.link {
	color:#fff;
	background-color:#000;
	text-decoration:none;
	cursor:pointer;
}

.activelink {
	color: #e0e0e0;
	cursor:pointer;
	background-color: #4f6b80;
}

span.link, .activelink {
	padding: 0px 5px 0px 5px;
}

.link2{
	color:#606090;
	text-decoration:none;
	cursor:pointer;
	padding:1px;

}

.activelink2{
	color: #e0e0e0;
	cursor:pointer;
	background-color: #5e5e5e;
	padding: 5px;

}

.deniedlink {
	color: #c0c0c0;
	cursor: not-allowed;
}

input[type="submit"], input[type="button"], input[type="file"] {
	background-color: #e0e0e0;
	color:black;
	font-weight:bold;
	border: 1px solid #aaa;
	margin:2 2 2 2;
}

select {
	background-color:#eee;
	border:1px solid #aaa;
	min-width:40px;
}

form.pureform {
	margin:0px;
	display:inline;
}

#footer_static {
	width:100%;
	height:40px;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align:left;
	vertical-align:middle;
}

#footer_operation {
	border:1px solid rgb(217,217,217);
	border-left:0px;
	border-right:0px;
	background-color:rgb(255,249,214);
	margin:0 0 0 0;
	padding:5 5 5 5;
}

#footer {
	position:static;
	font-size:9px;
	color:#808080;
	bottom:0px;
	border:1px solid rgb(217,217,217);
	border-left:0px;
	border-right:0px;
	background-color: #cae8ff;
	text-align:right;
	margin:0 0 0 0;
	padding:3 15 3 15;
	
}

.fico {
	float:left;
	width:110px;
	height:120px;
	display: table;
}

.fico .ficoc {
	width:110px;
	height:120px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

#content_fb {
	overflow:auto;
	width:100%;
	height:335px;
}

.rights_on {
  color:green;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  background-color:white;
}

.rights_on:hover {
  color:green;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  background-color:white;
}

.rights_off {
  color:red;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  background-color:white;
}

.rights_off:hover {
  color:red;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  background-color:white;
}

.strona {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	padding:1px;
}

.strona:hover {
	color:#FFF;
	background-color:#000;
	text-decoration:none;
	cursor:pointer;
}

.normal_link {
	color:#303060;
  text-decoration:none;
}

.normal_link:hover {
	color:#303060;
  text-decoration:underline;
}

