.foto_art{
  width:433px;
}
.foto_art h1{
  font-size:20px;
  margin:5px 0px;
  color:#fff;
  font-weight:normal;
}
.foto_art .black_mate{
  position:absolute;
  background:#000;
  width:433px;
  height:100px;
  filter: alpha(opacity=80);
	opacity: 0.5;
	-moz-opacity: 0.5;
	margin-top: 203px;
}
.foto_art .mate_tekst{
  position:absolute;
  width:413px;
  color:#fff;
  margin-left:10px;
  margin-top: 203px;
  font-size:12px;
}
.foto_art .black_mate{
  position:absolute;
  background:#000;
  width:433px;
  height:100px;
  filter: alpha(opacity=80);
	opacity: 0.5;
	-moz-opacity: 0.5;
	margin-top: 203px;
}
.foto_art .mate_tekst{
  position:absolute;
  width:413px;
  color:#fff;
  margin-left:10px;
  margin-top: 203px;
}